.form-create {
  min-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 30px 110px;
  padding: 25px;
  box-shadow: 0 0 10px #92b775;
  background-color: white;
  font-size: 24px;

  input, select, textarea {
    font-size: 24px;
    padding: 5px;
    margin: 13px 30px;
    outline: 1px solid #92b775;
  }

  select {
    background-color: transparent;
  }

  input[type="submit"] {
    width: 210px;
    background: #92b775;
    border: 2px solid #133215;
    padding: 7px;
    border-radius: 7px;
    font-size: 28px;
  }

  input[type="checkbox"], input[type="submit"] {
    outline: none;
  }

  input[type="submit"]:hover {
    background: #4d7131;
  }
}

#admission_days-block {
  display: none;
  }

.course-main-information, .course-add-information, .lesson-main-information {
  font-size: 32px;
  display: flex;

  h1 {
    font-weight: 700;
    padding: 18px 0 18px 100px;
  }

  h4 {
    padding: 18px 0 18px 100px;
  }

  p {
    padding: 20px 9px;
    text-decoration: underline;
  }

  .label-course-other, .label-lesson-other {
    margin: 0 20px 0 90px;
    text-indent: 50px;
  }
}

.lesson-main-information {
  margin: 20px 0 0 0;
  display: block;
}

.follow, .checked-homework, .user-homework-btn {
  border: 2px solid #133215;
  padding: 7px;
  margin: 20px 0 20px 100px;
  border-radius: 7px;
  font-size: 28px;
}

.button-for-authorized {
  background-color: #92b775;
}

.button-for-authorized:hover {
  background: #4d7131;
}

.button-for-not-authorized {
  background-color: #a9b1a2;
}

.button-for-not-authorized:hover {
  content: visible;
}

.course-main-information-text {
  margin: 20px 0 0 0;
  width: 70%;
}

.course-add-information {
  display: block;
}

.course_img {
  margin: 25px 25px 0  0;
  padding: 5px;
  border: 3px solid #133215;
  width: 500px;
  height: 500px;
}