.lesson-files {
  margin: 0 0 0 90px;
}

.lesson-for-not-authorized {
  padding: 20px 0 20px 20px;
  color: #a9b1a2;
}

.lesson-for-not-authorized:hover {
  content: visible;
  color: #a9b1a2;
}

.button-add-new {
  width: 330px;
  background-color: #96a38c;
  margin: 20px 0 40px 0;
  border: 1px solid black;
}

.button-add-new:hover {
  background-color: #83a867;
}

.add-task {
  display: none;
}

.lesson-link {
  display: flex;
  justify-content: space-between;
}

.warning-homework {
  margin: 20px 40px 20px 20px;
  padding: 0 10px 0 0;
  text-align: center;
  background-color: #ffdfd4;
  outline: 1px solid #133215;
  border-radius: 8px;
}

.warning-all-homework {
  text-indent: 0;
  margin: 10px 40px 10px 20px;
  padding: 10px 15px;
  text-align: center;
  background-color: #ff9e81;
  border-radius: 25px;
}