.lesson-files {
  margin: 0 0 0 90px;
}

.lesson-for-not-authorized {
  padding: 20px 0 20px 20px;
  color: #a9b1a2;
}

.lesson-for-not-authorized:hover {
  content: visible;
  color: #a9b1a2;
}

.button-add-new {
  width: 330px;
  background-color: #96a38c;
  margin: 20px 0 40px 0;
  border: 1px solid black;
}

.button-add-new:hover {
  background-color: #83a867;
}

.add-task {
  display: none;
}