{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'core/css/authorization.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Создание профиля</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title-text">LessonPark</h1>

      <h2 class="login-form-head">Создайте профиль</h2>

      <div class="login-form-main">
        <form method="post">
          {% csrf_token %}

          <div class="form-row">
            <input name="is_staff" type="checkbox" class="checkbox-row" />
            <label class="checkbox-label">Являюсь преподавателем</label>
          </div>

          <div class="form-row">
            <label class="text-label">Фамилия<br /></label>
            <input name="last_name" type="text" class="text-row" required />
          </div>

          <div class="form-row">
            <label class="text-label">Имя<br /></label>
            <input name="first_name" type="text" class="text-row" required />
          </div>

          <div class="form-row">
            <label class="text-label">Отчество<br /></label>
            <input name="patronymic" type="text" class="text-row" />
          </div>

          <div class="form-row">
            <label class="text-label">Почта<br /></label>
            <input name="email" type="email" class="text-row" />
          </div>

          <div class="form-row">
            <label class="text-label">Дата рождения<br /></label>
            <input name="birthday" type="date" class="date-row" />
          </div>
          <p>{{ form.errors }}</p>
          {% csrf_token %}
          <input
            class="button"
            name="authorization-button"
            type="submit"
            value="Создать аккаунт"
          />
        </form>
      </div>
    </div>
  </body>
</html>
