.room-detail {
  width: 80%;
  background-color: white;
  margin: 1px 30px;
  border: 1px solid #4d7131;
  padding: 6px 2px;
  display: flex;
  align-items: center;
}

.room-main-information {
  cursor: pointer;
}

.rooms {
  margin: 18px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.room-img-profile {
  margin: 0 24px;
  width: 75px;
  height: 75px;
  border-radius: 40px;
}

.room-name {
  font-size: 30px;
  padding: 10px 0;
}

.room-message {
  font-size: 21px;
  padding: 4px 0;
}

.scroll-block {
  overflow: auto;
  height: 545px;
}

.chat-block {
  width: 1300px;
  height: 675px;
  background-color: white;
  margin: 50px;
  border: 1px solid #4d7131;
  margin-left: auto;
  margin-right: auto;
}

.messages-block {
  display: flex;
  flex-direction: column-reverse;
  margin: 40px;
}

.message {
  font-size: 30px;
  margin: 0 80px 10px 80px;
  padding: 10px;
  outline: 1px solid #9eb18f;
  border-radius: 10px;
  background-color: #bdc9c0;
}

.member-fullname {
  font-size: 21px;
  padding: 6px;
  margin-left: 100px;
  color: #768877;
}

.message-user-text {
  float: right;
  text-align: right;
}

.message-user {
  margin-left: 200px;
}

.message-member {
  margin-right: 200px;
}

.message-user-text {
  float: right;
  text-align: right;
}

.block-send-message {
  display: flex;
}

.send-message-input {
  border: 1px solid #4d7131;
  width: 75%;
  font-size: 27px;
  padding: 15px;
  display: block;
  margin-left: 100px;
  margin-top: 38px;
}

.send-message-button {
  padding: 15px;
  margin: 40px 40px 0 40px;
  font-size: 25px;
  background-color: #b4c697;
}

.chat-member {
  font-size: 32px;
  margin: 23px 0 -23px 350px;
}
