{% extends 'base.html' %}

{% block content %}
<div class="rooms">
    {% for room in room_list %}
    <div class="room-detail">
        <img
                class="room-img-profile"
                src="{{ room.member.profile.get_avatar }}"
                alt="Войти в профиль"
                title="Войти в профиль"
        />

        <div class="room-main-information">
            <h3 class="room-name">{{ room.member.profile.full_name }}</h3>
            <p class="room-message">{{ room.messages.last }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}