{% extends 'base.html' %}

{% load course_tag %}

{% block content %}
<div class="course">
    <div class="lesson-main-information">
        <div class="lesson-main-information">
            <div class="name-course">
                <a href="{% url 'training_course:course_detail' lesson.course.id %}">
                    <h1>Курс: {{ lesson.course.name }}</h1>
                </a>
            </div>
            <div class="label-lesson">
                <h4>Название:</h4>
                <p>{{ lesson.name }}</p>
            </div>
            <h4>Описание:</h4>
            <p class="label-lesson-other">
                {{ lesson.description }}
            </p>
            {% if lesson.link %}
            <div>
                <h4>Перейти по ссылке:</h4>
                <a href="{{ lesson.link }}">
                    <p class="lesson-files">{{ lesson.link }}</p>
                </a>
            </div>
            {% endif %}
            <div>
                <h4>Файлы к уроку:</h4>
                {% for file in lesson.files.all %}
                <a href="{{ file.get_absolute_file_url }}">
                    <p class="lesson-files">{{ forloop.counter }}. {{ file.name }}</p>
                </a>
                {% endfor %}
            </div>

            <div class="course-add-information">
                {% if lesson.course|is_user_responsible_for_course:user.id %}
                <a href="{% url 'training_course:lesson_update' lesson.id %}">
                    <input type="button" class="follow button-for-authorized" value="Изменить"/>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if lesson.task %}
<div class="course">
    <div class="lesson-main-information">
        <div class="lesson-main-information">
            <div class="name-course">
                <h1>Задание к уроку:</h1>
            </div>
            <div class="label-lesson">
                <h4>Что делать:</h4>
                <p>{{ lesson.task.name }}</p>
            </div>
            <div>
                <h4>Описание к заданию:</h4>
                <p class="label-lesson-other">{{ lesson.task.description }}</p>
            </div>
            <div>
                <h4>Файлы к заданию:</h4>
                {% for file in lesson.task.files.all %}
                <a href="{{ file.get_absolute_file_url }}">
                    <p class="lesson-files">{{ forloop.counter }}. {{ file.name }}</p>
                </a>
                {% endfor %}
            </div>
            {% if not user_homework and not lesson.course|is_user_responsible_for_course:user.id %}
            <a href="{% url 'training_course:homework_create' lesson.task.pk %}">
                <input class="button-add-new" type="button" value="Прикрепить домашнее задание">
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% if user_homework %}
<div class="course">
    <div class="lesson-main-information">
        <div class="lesson-main-information">
            <div class="name-course">
                <h1>Домашнее задание:</h1>
            </div>
            <div>
                <h4>Описание к д/з:</h4>
                <p class="label-lesson-other">{{ user_homework.description }}</p>
            </div>
            <div class="label-lesson">
                <h4>Проверил преподаватель:</h4>
                <p>
                    {% if user_homework.is_checked %}
                    Да
                    {% else %}
                    Нет
                    {% endif %}
                </p>
            </div>
            <div>
                <h4>Файлы к д/з:</h4>
                {% for file in user_homework.files.all %}
                <a href="{{ file.get_absolute_file_url }}">
                    <p class="lesson-files">{{ forloop.counter }}. {{ file.name }}</p>
                </a>
                {% endfor %}
            </div>
            {% if not user_homework.is_checked %}
            <a href="{% url 'training_course:homework_update' user_homework.id %}">
                <input class="update-homework button-for-authorized" type="button" value="Изменить">
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="course">
    <div class="lesson-main-information">
        {% for hw in homeworks %}
        <div class="lesson-main-information">
            <div class="name-course">
                <h1>Домашнее задание от {{ hw.learner.profile.full_name }} </h1>
            </div>
            <div>
                <h4>Описание к д/з:</h4>
                <p class="label-lesson-other">{{ hw.description }}</p>
            </div>
            <div class="label-lesson">
                <h4>Проверил преподаватель:</h4>
                <p>
                    {% if hw.is_checked %}
                    Да
                    {% else %}
                    Нет
                    {% endif %}
                </p>
            </div>
            <div>
                <h4>Файлы к д/з:</h4>
                {% for file in hw.files.all %}
                <a href="{{ file.get_absolute_file_url }}">
                    <p class="lesson-files">{{ forloop.counter }}. {{ file.name }}</p>
                </a>
                {% endfor %}
            </div>
            {% if not hw.is_checked %}
            <form action="{% url 'training_course:homework_check' hw.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="checked-homework button-for-authorized" value="Проверено"/>
            </form>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}
