{% extends 'base.html' %}

{% load static %}

{% block content %}
<form class="form-create" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="form-label">
        <label for="{{ form.name.id_for_label }}">Введите название: </label>
        {{ form.name }}
    </div>
    <div class="form-label">
        <label for="{{ form.description.id_for_label }}">Введите описание: </label>
        {{ form.description }}
    </div>
    <div class="form-label">
        <label for="{{ form.category.id_for_label }}">Вставьте ссылку: </label>
        {{ form.link }}
    </div>
    <div class="add-files add-lesson-files">
        <label for="{{ form.files.id_for_label }}">Выберите файлы: </label>
        {{ form.files }}
    </div>
    <input class="button-add-new" id="add-new-lesson-file" type="button" value="Прикрепить еще файл">

    <input class="button-add-new" id="add-new-task" type="button" value="Создать задание">
    <div class="add-task">
        <div class="form-label">
            <label for="{{ form.task_name.id_for_label }}">Название задачи: </label>
            {{ form.task_name }}
        </div>
        <div class="form-label">
            <label for="{{ form.task_description.id_for_label }}">Описание задачи: </label>
            {{ form.task_description }}
        </div>
        <div class="add-files add-task-files">
            <label for="{{ form.task_files.id_for_label }}">Выберите файлы: </label>
            {{ form.task_files }}
        </div>
    <input class="button-add-new" id="add-new-task-file" type="button" value="Прикрепить еще файл">
    </div>

    <input class="button-add-new" id="add-new-test" type="button" value="Прикрепить тест">
    <div class="add-test">
        <div class="add-files add-task-files">
            <label for="{{ form.test_file.id_for_label }}">Прикрепите файл теста (в формате docx или xlsx): </label>
            <input id="id_test_file" type="file" name="test_file" accept=".docx, .xlsx">
        </div>
    </div>

    <input type="submit" value="Создать урок"/>
</form>
<script src="{% static 'training_course/js/add_file_from_input.js' %}" defer></script>
{% endblock %}