{% extends 'base.html' %}

{% block content %}

<div class="name-course" style="margin: 30px 30px 10px 150px;">
                <a href="{% url 'training_course:course_detail' course.id %}">
                    <h1>Курс: {{ course.name }}</h1>
                </a>
            </div>
<div class="criteria">
    <div class="criterion">
        <p>Количество просмотров курса: </p>
        <p>{{ course.number_of_clicks }}</p>
    </div>
    <div class="criterion">
        <p>Количество подписчиков: </p>
        <p>{{ course.subscriptions.count }}</p>
    </div>
    <div class="criterion">
        <p>Количество подписавшихся на курс за неделю: </p>
        <p>{{ subscription_statistic }}</p>
    </div>
    <div class="lesson-statistic">
        {% for lesson in lessons %}
        <h2 class="lesson-head">{{ forloop.counter }}. {{ lesson.name }}</h2>
        <div class="criterion lesson-criterion">
            <p>Количество сданных домашних работ:   </p>
            <p>{{ lesson.count_homeworks }}</p>
        </div>
        <div class="criterion lesson-criterion">
            <p>Количество просмотренных домашних работ: </p>
            <p>{{ lesson.count_checked_homeworks }}</p>
        </div>
        <div class="criterion lesson-criterion">
            <p>Количество непросмотренных домашних работ:   </p>
            <p>{{ lesson.count_not_checked_homeworks }}</p>
        </div>
        <div class="criterion lesson-criterion">
            <p>Количество невыполненных домашних работ: </p>
            <p>{{ lesson.not_done_homeworks }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}