{% extends 'base.html' %}

{% load course_tag %}

{% block content %}
<form id="filter_form" method="GET">
    <div class="filters">
        <div class="app__filters">
            <div class="filter-detail">
                <label for="{{ filter.form.category.id_for_label }}" class="filter__label">
                    {{ filter.form.category.label }}
                </label>
                {{ filter.form.category }}
            </div>

            <div class="filter-detail">
                <label for="{{ filter.form.name.id_for_label }}" class="filter__label">
                    {{ filter.form.name.label }}
                </label>
                {{ filter.form.name }}
            </div>

            <div class="filter-detail">
                <label for="{{ filter.form.responsible.id_for_label }}" class="filter__label">
                    {{ filter.form.responsible.label }}
                </label>
                {{ filter.form.responsible }}
            </div>
        </div>

        <button class="filter__btn" type="submit" form="filter_form">Применить</button>

    </div>
</form>
{% for course in course_list %}
<section class="course-item">
    <div class="img-content">
        <img src="{{ course.get_image }}" alt="Картинка курса"/>
        <p>{{ course.get_data }}</p>
    </div>
    <div>
        <div class="content">
            <h2>{{ course.name }}</h2>
            <p>{{ course.description }}</p>
        </div>

        {% if not course|is_user_responsible_for_course:user.id %}
        {% if course|user_has_subscription:user.id %}
        <form action="{% url 'training_course:delete_subscription' course.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="subscribe" value="Отписаться"/>
        </form>

        {% elif user.is_authenticated %}
        <form action="{% url 'training_course:create_subscription' course.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="subscribe" value="Подписаться"/>
        </form>
        {% else %}
        <input type="submit" class="subscribe not-authenticate" value="Подписаться" title="Авторизуйтесь"/>
        {% endif %}
        {% endif %}
        <a href="{% url 'training_course:course_detail' course.id %}">
            <input type="button" class="more-information" value="Узнать больше"/>
        </a>
    </div>
</section>
{% endfor %}
{% endblock %}