{% extends 'base.html' %}

{% load course_tag %}

{% block content %}
<div class="course">
    <div class="course-main-information">
        <div class="course-main-information-text">

            <div class="name-course">
                <h1>Название: {{ course.name }}</h1>
            </div>
            <div class="label-course">
                <h4>Категория:</h4>
                <p>{{ course.category|default:'Не указана' }}</p>
            </div>
            <div class="label-course">
                <h4>Уровень сложности:</h4>
                <p>{{ course.get_level_display }}</p>
            </div>
            <div>
                <h4>Преподаватели:</h4>
                {% for teacher in course.responsible.all %}
                <div class="teacher-link-room">
                    <p>{{ teacher.profile.full_name }}</p>
                    <a href="{% url 'chat:room_get' teacher.id %}">
                        <p>Написать</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="img-content">
            <img class="course_img" src="{{ course.get_image }}" alt="Картинка курса"/>
            <p>{{ course.get_data }}</p>
        </div>
    </div>
    <div class="course-add-information">
        <h4>Описание:</h4>
        <p class="label-course-other">
            {{ course.description }}
        </p>
        {% if course|is_user_responsible_for_course:user.id %}
        <a href="{% url 'training_course:course_update' course.id %}">
            <input type="button" class="follow button-for-authorized" value="Изменить"/>
        </a>
        {% else %}
        {% if course|user_has_subscription:user.id %}
        <form action="{% url 'training_course:delete_subscription' course.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="follow button-for-authorized" value="Отписаться"/>
        </form>

        {% elif user.is_authenticated %}
        <form action="{% url 'training_course:create_subscription' course.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="follow button-for-authorized" value="Подписаться"/>
        </form>
        {% else %}
        <input type="submit" class="follow button-for-not-authorized" value="Подписаться" title="Авторизуйтесь"/>
        {% endif %}
        {% endif %}
    </div>

</div>
<div class="lessons">
    <div class="lessons-header">
        <h2>Уроки</h2>
        {% if course|is_user_responsible_for_course:user.id %}
        <a href="{% url 'training_course:lesson_create' course.pk %}">
            <input type="submit" value="Создать"/>
        </a>
        {% endif %}
    </div>
    {% if course|user_has_subscription:user.id or course|is_user_responsible_for_course:user.id %}
    {% for lesson in course.lessons.all %}
    <a href="{% url 'training_course:lesson_detail' lesson.id %}">
        <h4 class="link-for-authorized">{{ forloop.counter }}. {{ lesson.name }}</h4>
    </a>
    {% endfor %}
    {% else %}
    {% for lesson in course.lessons.all %}
    <h4 class="lesson-for-not-authorized" title="Авторизуйтесь">{{ forloop.counter }}. {{ lesson.name }}</h4>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}
