<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <link href="{% static 'training_course/css/course.css' %}" rel="stylesheet"/>
    <link href="{% static 'training_course/css/course_crud.css' %}" rel="stylesheet"/>
    <link href="{% static 'training_course/css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'training_course/css/lesson.css' %}" rel="stylesheet"/>
    <link href="{% static 'core/css/profile.css' %}" rel="stylesheet"/>
    <link href="{% static 'chat/css/room.css' %}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mitr:wght@200;300;400;500;600;700&family=Yeseva+One&display=swap"
            rel="stylesheet"
    />
    <title>LessonPark</title>
</head>
<body>
<header>
    <a class="look-not-link" href="{% url 'training_course:course_list' %}">
    <h1>LessonPark</h1>
        </a>
    {% if user.username %}
    <div class="authorization">
        {% if user.is_authenticated and user.profile %}
            <a href="{% url 'core:profile' pk=user.profile.pk %}">
                <img
                        class="go_profile_img"
                        src="{{ user.profile.get_avatar }}"
                        alt="Войти в профиль"
                        title="Войти в профиль"
                /></a>
        <a class="nav-btn" href="{% url 'chat:room_list' %}">
            <input type="button" class="come" value="Мои чаты"/>
        </a>
        {% endif %}
        <form method="post" action="{% url 'core:logout' %}">
            {% csrf_token %}
            <input type="submit" class="come" value="Выйти"/>
        </form>
    </div>
    {% else %}
    <form method="post" action="{% url 'core:login' %}">
        {% csrf_token %}
        <input type="submit" class="come" value="Войти"/>
    </form>
    {% endif %}
</header>
<main>
    {% if user.username and not user.profile %}
    <div class="no-profile">
        <h3>
            У вас нет профиля! Создайте его, чтобы просматривать курсы и уроки.
            <a href="{% url 'core:register_profile' %}">Создать</a>
        </h3>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</main>
</body>
</html>